<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commercetools Cybersource Extension</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script>
      if (top != self) {
        top.location = encodeURI(self.location);
      }
    </script>
  </head>
  <body>
    <div id="message"></div>
    <div class="leftDiv">
      <h1 class="payment">Payment Details</h1>
    </div>
    <div class="buttonright">
      <a id="backButton" class="button" href="/orders" role="button">Back</a>
    </div>
    <div class="panel card4 padding16" id="customerDetails">
      <h2>Customer Details</h2>
      <hr />
    </div>
    <br />
    <div class="panel card4 padding16" id="productDetails">
      <h2>Order Items</h2>
      <hr />
      <table class="paymentTableAbove" id="orderItemsTable" aria-describedby="This table refers to lineitems">
        <thead>
          <tr>
            <th id="productHeading">Product</th>
            <th id="unitPriceHeading">Unit price</th>
            <th id="quantityHeading">Quantity</th>
            <th id="totalHeading">Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <br />
    </div>
    <br />
    <div class="panel card4 padding16" id="paymentDetails">
      <h2>Payment Details</h2>
      <hr />
      <table class="paymentTableAbove" id="paymentDetailsTable" aria-describedby="This table refers to payment specific details">
        <tr>
          <th id="paymentMethodNameHeading">Payment Method Name</th>
          <th id="paymentMethodHeading">Payment Method</th>
          <th id="pspHeading">Payment Service Provider(PSP)</th>
          <th id="amountPlannedHeading">Amount Planned</th>
        </tr>
      </table>
    </div>
    <br />
    <div class="panel card4 padding16" id="paymentTransactions">
      <h2>Payment Transactions</h2>
      <hr />
      <table class="paymentTableAbove" id="paymentTransactionsTable" aria-describedby="This table refers to transaction details">
        <tr>
          <th id="transactionTypeHeading">Transaction Type</th>
          <th id="statusHeading">Status</th>
          <th id="amountHeading">Amount</th>
          <th id="interactionIdHeading">Interaction ID</th>
          <th id="transactionIdHeading">Transaction ID</th>
        </tr>
      </table>

      <div id="buttonsDiv"></div>
    </div>
    <br />
    <div id="paymentCardDetails"></div>
    <br />
    <div id="paymentCustomFields" class="panel card4 padding16"></div>
    <div id="loading"><span>Loading...</span></div>
    <script type="module" src="javascript/paymentDetails.js"></script>
  </body>
</html>
